<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>categories</title>
  </head>
  <body>
    <%- include("./partials/navbar") %>
    <h1>categories</h1>
    <ul>
      <% categories.forEach(category => { %>
      <li><%= category.id %> <%= category.title %> <a href=<%= `/categories/${category.id}` %>>see details</a> <a href="/categories/<%= category.id %>/delete">delete category</a></li>
      <% }) %>
    </ul>
    <a href="/categories/new">add category</a>
  </body>
</html>
