<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>update game</title>
  </head>
  <body>
    <%- include("./partials/navbar") %>
    <h1>update game</h1>
    <form action="/games/<%= game.id %>/update" method="post">
      <label for="title">title</label>
      <input type="text" name="title" id="title" value="<%= game.title %>" required/>

      <label for="price">price</label>
      <input type="number" name="price" id="price" value="<%= game.price %>" required/>


      <label for="categories">categories</label>
      <select name="categories" id="categories">
        <% categories.forEach(category => { %>
        <option value="<%= category.id %>" <%= category.id === game.category_id ? 'selected' : '' %> ><%= category.title %></option>
        <% }) %>
      </select>

      <button type="submit">update</button>
    </form>
    <a href="/games/<%= game.id %>">back</a>
  </body>
</html>
